
body {
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #535353;
  margin: 0px;
  overflow: auto;
}

::selection {
  background: #80DEEA;
}

h1 {
  font-weight: 300;
}

.in {
  color: #F44336;
  font-style: italic;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  overflow: auto;
  margin-top: 40px;
  text-align: center;
}

.push-button {
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-style: italic;
  font-weight: 100;
  display: block;
  font-size: 30px;
  width: 5em;
  height: 5em;
  border: none;
  background: #F44336;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 30px auto;
  box-shadow: 0 0 0 25px #fff,
              0 0 0 30px rgba(35, 124, 234, 0);
}
.push-button:not(:active) {
  -webkit-animation: effect 0.5s;
          animation: effect 0.5s;
}
.push-button:focus {
  outline: none;
}

-webkit-keyframes effect {
  0% {
    box-shadow: 0 0 0 0px #fff,
              0 0 0 5px rgba(244, 67, 54, 0.5);
  }
}

@keyframes effect {
  0% {
    box-shadow: 0 0 0 0px #fff,
              0 0 0 5px rgba(244, 67, 54, 0.5);
  }
}

a:link, a:visited {
  color: #F44336;
  text-decoration: none;
  padding: 2px 5px;
}
a:hover {
  color: black;
  background-color: #80DEEA;
  border-radius: 3px;
  text-decoration: none;
}

.code {
  padding: 10px;
  font-family: monospace;
  background-color: #E0F7FA;
  border-radius: 3px;
  text-align: left;
  word-wrap: break-word;
}
