
body {
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #535353;
  margin: 0px;
  overflow: auto;
  font-weight: 300;
}

::selection {
  background: #80DEEA;
}

h1 {
  font-weight: 300;
}

.in {
  color: #F44336;
  font-style: italic;
}

.red {
  color: #F44336;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  overflow: auto;
  margin-top: 40px;
  text-align: center;
}

.push-button {
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-weight: 100;
  display: block;
  font-size: 50px;
  width: 3em;
  height: 3em;
  border: none;
  background: #F44336;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 30px auto;
  box-shadow: 0 0 0 25px #fff,
              0 0 0 30px rgba(35, 124, 234, 0);
  cursor: pointer;
}
.push-button:not(:active) {
  -webkit-animation: effect 0.5s;
          animation: effect 0.5s;
}
.push-button:focus {
  outline: none;
}

-webkit-keyframes effect {
  0% {
    box-shadow: 0 0 0 0px #fff,
              0 0 0 5px rgba(244, 67, 54, 0.5);
  }
}

@keyframes effect {
  0% {
    box-shadow: 0 0 0 0px #fff,
              0 0 0 5px rgba(244, 67, 54, 0.5);
  }
}

a:link, a:visited {
  color: #F44336;
  text-decoration: none;
  padding: 2px 5px;
}
a:hover {
  color: black;
  background-color: #80DEEA;
  border-radius: 3px;
  text-decoration: none;
}

.code {
  padding: 10px;
  font-family: monospace;
  background-color: #E0F7FA;
  border-radius: 3px;
  text-align: left;
  word-wrap: break-word;
}

#footer {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 2px solid #80DEEA;
    text-align: center;
    text-transform: uppercase;
}

#footer > p {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2em;
    padding-right: 6px;
}
